## Import the Required Packages

In [1]:
import pandas as pd


import pybaseball

## Download the Data & Add Year Label

In [2]:
data2014 = pybaseball.schedule_and_record(2014, 'TOR')
data2014['Year'] = '2014/2015'

In [3]:
data2015 = pybaseball.schedule_and_record(2015, 'TOR')
data2015['Year'] = '2015/2016'

In [4]:
data2016 = pybaseball.schedule_and_record(2016, 'TOR')
data2016['Year'] = '2016/2017'

In [5]:
data2017 = pybaseball.schedule_and_record(2017, 'TOR')
data2017['Year'] = '2017/2018'

## Merge the Tables

In [6]:
data = pd.concat([data2014, data2015, data2016, data2017], axis=0, join='outer', join_axes=None, ignore_index=True)

In [7]:
data.head()

,Date,Tm,Home_Away,Opp,W/L,R,RA,Inn,W-L,Rank,GB,Win,Loss,Save,Time,D/N,Attendance,Streak,Orig. Scheduled,Year
0,"Monday, Mar 31",TOR,@,TBR,L,2.0,9.0,9.0,0-1,4.0,1.0,Price,Dickey,None,3:04,D,31042.0,-1,None,2014/2015
1,"Tuesday, Apr 1",TOR,@,TBR,W,4.0,2.0,9.0,1-1,2.0,0.5,Hutchison,Cobb,Santos,3:32,N,11113.0,1,None,2014/2015
2,"Wednesday, Apr 2",TOR,@,TBR,W,3.0,0.0,9.0,2-1,1.0,up 0.5,Buehrle,Moore,Cecil,2:55,N,10808.0,2,None,2014/2015
3,"Thursday, Apr 3",TOR,@,TBR,L,2.0,7.0,9.0,2-2,2.0,0.5,Archer,Morrow,None,3:21,N,9571.0,-1,None,2014/2015
4,"Friday, Apr 4",TOR,Home,NYY,L,3.0,7.0,9.0,2-3,4.0,1.0,Tanaka,McGowan,None,3:26,N,48197.0,-2,None,2014/2015